[Desktop Entry]
Version=1.0
Name=GTKQQ
Name[es]=GTKQQ
GenericName=QQ Client
GenericName[es]=QQ Client
GenericName[zh_CN]=QQ 客户端
Comment=QQ client written in GTK
Comment[es]=QQ client written in GTK
Comment[zh_CN]=使用 GTK 编写的 QQ 客户端
Exec=gtkqq
Icon=gtkqq
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
StartupNotify=true
